a {
    color: #3e3947 !important;
    text-decoration: none;
}

a:hover{
    color: #89229b !important;
    text-decoration: none !important;
}
a:focus {
    color: #89229b !important;
    text-decoration: none !important;
}


.btn-group{
    position: relative;
    margin: 10px 1px;
    display: inline-flex;
    vertical-align: middle;
}
